button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font: inherit;
    background-color: rgb(17,119,187);
    color: whitesmoke;
    &:focus{
        outline: 1px solid #000;
        // background-color: rgba(255,255,255,.3);
        // border: 3px solid #000;
    }
}