.view-sprint {
    display: flex;
    // align-self: flex-start;
    .card-sprint-details {
        width: 100%;
        min-width: none;
        .card-title {
            margin: 0;
        }
        .card-body {
            display: flex;
            .left {
                width: 300px;
                display: flex;
                flex-flow: column;
                @media screen and (min-width: 1100px) {
                    width: 400px;
                }
                .input-group {
                    margin-top: 5px;
                    display: flex;
                    label {
                        margin-right: 15px;
                    }
                    .textarea-sprint {
                        @media screen and (min-height: 800px) {
                            height: 180px;
                        }
                    }
                }
            }
            .right {
                display: flex;
                flex-flow: column;
                width: 350px;
                padding-left: 20px;
                @media screen and (min-width: 1100px) {
                    width: 400px;
                }
                .events {
                    flex: 1 1 auto;
                    display:flex;
                    flex-flow: column;
                    .events-head {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .events-list {
                        flex: 1 1 auto;
                        margin: 5px 0;
                        border: 1px solid rgba(255,255,255,.3);
                        display: flex;
                        max-height: 56vh;
                        overflow: auto;
                        .display-container {
                            // width: 100%;
                            position: relative;
                            background-color: rgba(255,255,255,.15);
                            border-bottom: 1px solid rgba(255,255,255,.3);
                            padding:12px;
                            display: flex;
                            flex-flow: column;
                            .lower-display-container {
                                display: flex;
                                .left {
                                    flex: 6;
                                    .display-date{
                                        display: flex;
                                        justify-content: space-between;
                                    }
                                }
                                .right {
                                    flex: 1;
                                    display:flex;
                                    justify-content: space-evenly;
                                    align-items: flex-end;
                                    .danger-btn {
                                        width: 32px;
                                        height: 32px;
                                        color: white;
                                        background-color: transparent;
                                        border: transparent;
                                        transition: .25s;
                                        // border: 1px solid #f32617;
                                        // background-color: transparent;
                                        // color: #f32617;
                                        &:hover {
                                            // border: 1px solid #f32617;
                                            // background-color:  #f32617;
                                            color: #ff3333;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .participants {
                    flex: 1 1 auto;
                    display:flex;
                    flex-flow: column;
                    .participants-head {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .participants-list {
                        flex: 1 1 auto;
                        margin: 5px 0;
                        border: 1px solid rgba(255,255,255,.3);
                        display: flex;
                    }
                }
                .card-actions {
                    display: flex;
                    justify-content: flex-end;
                    button {
                        padding: 8px;
                        width: 80px;
                        margin: 0 4px;
                    }
                    .cancel-btn {
                        background-color: transparent;
                        border: 1px solid white;
                        &:hover{
                            background-color: white;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

.button {
    transition: .25s all;
}

.add-btn {
    background-color: rgb(114, 137, 218) !important;
}