.view-sprint-container {
    h1 {
        margin: 0;
    }
    display: flex;
    width: 100%;
    height: 100%;
    .section-left {
        flex: 1;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 320px;
        .card-container {
            padding: 15px;
            width: 85%;
            .card-body {
                border: 1px solid gray;
                border-radius: 5px;
                // max-width: 350px;
                .sprintstoday-row {
                    padding: 9px 9px 8px 9px;
                    border-bottom: 1px solid gray;
                    transition: .25s all;
                    overflow: hidden;
                    &:hover {
                        background-color: rgb(167, 167, 167);
                    }
                }

                height: 30vh;
                @media screen and (min-height: 900px) {
                    height: 35vh;
                }
                .autosizer {
                    .autosizer-row-container {
                        position: relative;
                        border-bottom: 1px solid gray;
                        transition: .25s all;
                        &:hover {
                            background-color: rgb(167, 167, 167);
                        }
                        .autosizer-inside {
                            position: absolute;
                            left: 9px;
                            right: 9px;
                            top: 9px;
                            bottom: 9px;
                            .row-title{
                                display: flex;
                                justify-content: space-between;
                                text-transform: capitalize;
                            }
                            .row-date{
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                    }
                }
            }
        }
        .card-title {
            margin: 0;
        }
    }
    .section-right{
        flex: 2;
    }
}

.input-group {
    display: flex;
    width: 88%;
    justify-content: space-between;
    .input-modified {
        // background-color: rgb(83, 83, 83);
        width: 80%;
    }
}

.short {
    p {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    span {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.overflow-auto {
    overflow: auto;
}

.dflex-sb {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.cursor-pointer {
    cursor: pointer;
}