.drawer {
    width: 72px;
    overflow-x: hidden;
    // height: 100%;
    background-color: #333;
    
    ul {
        padding: 0;
        li {
            list-style: none;
            margin: 6px 0;
            .figure {
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-left: 3px solid rgba(255,255,255,0);
                color: rgb(114,118,125);
                &:hover {
                    color: #fff;
                    cursor: pointer;
                }
                .logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: inherit;
                    margin: 0 auto;
                }
            }
        }
    }
}

.active {
    border-left: 3px solid white !important;
    color: white !important;
}