
.title {
    h3 {
        margin: 0;
        color: white;
        transition: all .1s;
    }
    flex: 0 1 auto;
    border-bottom: 1px solid #444;
    padding: 20px;
    transition: all .1s;
}

.content {
    flex: 1 1 auto;
    // padding: 20px;
    transition: all .1s;
    display:flex;
    .left {
        padding:20px;
        .input-group {
            display: flex;
            flex-flow: column;
            label {
                transition: all .1s;
                color: white;
            }
            .textarea-modal {
                height: 185px;
                width: 300px;
            }
        }
        .input-group:not(:first-child) {
            transition: all .1s;
            margin-top: 10px;
        }
    }
    .right {
        padding:20px;
        .input-group {
            label {
                transition: all .1s;
                color: white;
            }
            .modal-calendar {
                margin: 0 auto;
            }
        }
        .input-group:not(:first-child) {
            transition: all .1s;
            margin-top: 10px;
        }
    }
}

.actions {
    transition: all .1s;
    flex: 0 1;
    display: flex;
    flex-direction: row-reverse;
    border-top: 1px solid #444;
    padding: 15px;
    > * {
        margin: 3px;
        padding: 8px;
        transition: all .1s;
    }
    .submit {
        &:hover {
            background-color: rgba(17, 119, 187, 0.3) !important;
        }
    }
    .cancel-btn {
        background-color: transparent;
        border: 1px solid white;
        &:hover {
            color: black;
            background-color: white;
            border: 1px solid white;
        }
    }
}

.datetime-input {
    border: none;
    color: white;
    border-bottom: 1px solid #ffffff7a;
    background-color: rgba(0,0,0,0);
    transition: all .1s;
    padding-top: 5px;
    &:focus {
        outline: none;
        outline-offset: unset;
        background-color: rgba(255,255,255,.3);
        border-bottom: 1px solid #ffffffff;
    }
}

.datetime-input-container {
    margin-top: 5px;
}