
.title {
    h3 {
        margin: 0;
        color: white;
        transition: all .1s;
    }
    flex: 0 1 auto;
    border-bottom: 1px solid #444;
    padding: 20px;
    transition: all .1s;
}

.content {
    flex: 1 1 auto;
    padding: 20px;
    transition: all .1s;
    .hide-input {
        overflow: hidden;
        height: 0;
        opacity: 0;
    }
    .input-group {
        label {
            transition: all .1s;
            color: white;
        }
    }
    .input-group:not(:first-child) {
        transition: all .1s;
        margin-top: 10px;
    }
}

.actions {
    transition: all .1s;
    flex: 0 1;
    display: flex;
    flex-direction: row-reverse;
    border-top: 1px solid #444;
    padding: 15px;
    > * {
        margin: 3px;
    }
}

.datetime-input {
    border: none;
    color: white;
    border-bottom: 1px solid #ffffff7a;
    background-color: rgba(0,0,0,0);
    transition: all .1s;
    padding-top: 5px;
    &:focus {
        outline: none;
        outline-offset: unset;
        background-color: rgba(255,255,255,.3);
        border-bottom: 1px solid #ffffffff;
    }
}

.datetime-input-container {
    margin-top: 5px;
}